{% extends "base.html" %}
{% block title %}

    <title> Home </title>

{% endblock %}
{% block content %}
    <div id="top-menu">
            <h1 id="page"> ERROR </h1>
    </div>
       
   <div id="maincontent">ERROR PAGE NOT FOUND.</div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        // genere le menu du haut, contenant les redirections vers les différentes pages du site.
        createTopMenu({{ data.categories|safe }});

       
    </script>
{% endblock %}
        

    
    
    
</html>