{% extends "base.html" %}
{% block title %}

    <title> Compte Rendus | TER Food Safety </title>

{% endblock %}
 
{% block content %}
    <div id="top-menu">
            <h1 id="title-left"> TER : Sécurité Alimentaire </h1>
            <h1 id="page"> Compte Rendus </h1>
     </div>

    <div class="container mt-3">
            <h2 id="title">Séléctionnez un compte-rendu (Amélioration en cours)</h2>
   
             <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Feuille de Route <span class="badge badge-light badge-pill">{{sample["nbreFeuille"]}}</span></button>
                <div class="dropdown-menu">
                   {% for elt in sample["titlesF"].split(",") %}

                
                        <a href="#" class="dropdown-item">{{elt}} </a>
                    

                    {% endfor %}
                </div>
            </div>

        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Compte  Rendu <span class="badge badge-light badge-pill">{{sample["nbreRendu"]}}</span></button>
            <div class="dropdown-menu">
                {% for elt in sample["titlesR"].split(",") %}

                
                    <a href="#" class="dropdown-item" onclick="createSelector('static/pdfs', {{ sample.paths|safe }}, {{ sample.titlesF|safe}})">{{elt}} </a>
                    

                {% endfor %}
            </div>
        </div>
    </div>
    
   

{% endblock %}


{% block script %}
   <script type="text/javascript" src="static/js/pdf_viewer.js"></script>
    <script type="text/javascript">
        // genere le menu du haut, contenant les redirections vers les différentes pages du site.
      //  createTopMenu({{ data|safe }});

        // genere le lecteur de pdf et la selection de fichiers
        createViewer();
        //createSelector("static/pdfs", {{ sample.paths|safe }}, {{ sample.titlesF|safe}});
    </script>
{% endblock %}
    

