{% extends "base.html" %}
{% block title %}

    <title>Ressources Annexes</title>

{% endblock %}
{% block content %}
    <div id="top-menu">
            
            <h1 id="page">  Ressources Annexes </h1>
     </div>
     <h2 id="title">Liste des différentes ressources utilisées (Amélioration en cours)</h2>

{% endblock %}


  
{% block script %}
    
    <!-- <script type="text/javascript" src="static/js/pdf_viewer.js"></script> -->
    <script type="text/javascript">
        // genere le menu du haut, contenant les redirections vers les différentes pages du site.
        createTopMenu({{ data.categories|safe }});

        // // genere le lecteur de pdf et la selection de fichiers
        // createView();
        // createSelector("static/pdfs", {{ data.paths|safe }}, {{ data.titles|safe}});
    </script>
{%endblock%}

